/* Frequently Asked Questions */

.faq {
	max-width: 600px;
	margin: 0 auto 48px auto;

	.faq-tab {
		padding: 16px;
		margin-bottom: 16px;
		background: $grey-bg;
		border-radius: 3px;
		box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

		h4 { 
			color: $sub-color;
			margin: 0;
		}
	}

	.faq-content {
		p {
			margin: 0;
		}
	}
}