/* Main Navigation */

.menu-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	
	background: $brand-color;
	visibility: hidden;

	&.visible {
		position: fixed;
		visibility: visible;
		animation: 0.5s scaleUp forwards alternate;
	}
}

.mobile-navigation-icon,
.desktop-navigation {
	display: none;
}

.mobile-navigation-icon {
	position: relative;
	align-self: center;
	height: 3.50em;
	overflow: hidden;

	text-align: center;
	border-radius: 3px;
	
	&:hover {
		transition: color 0.2s ease-in-out;

		&::before {
			width: 100%;
			height: 100%;
			visibility: visible;
		}

		span {
			color: white;
		}
	}

	&::before {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		width: 1px;
		height: 1px;
		border-radius: 3px;
		background: $brand-color;
		visibility: hidden;
		transform: translate3d(-50%,-50%,0);
		transition: all 0.2s ease-in-out;
		z-index: -1;
	}
	
	span {
		display: block;
		font-family: $font-text;
		padding: 8px;
		font-size: 2em;
		font-weight: 700;
		line-height: 1.25;
		color: $brand-color;
		letter-spacing: 0.050em;
		transition: all 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
		}
	}

	&.visible {
		z-index: 200;

		span {
			transform: translate3d(0,-100%,0);
			color: white;
		}
	}
}

// Mobile Navigation
.mobile-navigation {
	position: absolute;
	width: 100%;
	padding: 2em 1em;
	text-align: left;
	background: $brand-blue;
	transform: translate3d(0,-200%,0);

	will-change: transform;
	transition: all 0.3s ease-in-out;
	z-index: 200;

	ul {
		width: 80%;
		margin: 0 auto;
		padding-top: 16px;
		li {
			a {
				font-family: $font-text;
				font-size: 2em;
				font-weight: 700;
				color: white;
			}
		}
	}

	&.visible {
		display: block;
		transform: translate3d(0,0,0);
	}
}

// Screen 640px and above
@media only screen and (min-width: $screen-md + 1) {
	.desktop-navigation {
		display: flex;
	}

	.mobile-navigation.visible {
		display: none;
	}
}
