/* Review Section */

.review-section {
	margin: $vertical-padding * 2 auto;
	.review-card {
		position: relative;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 24px;

		.review-image {
			margin-right: 16px;
			img {
	 			width: 100%;
	 			max-width: 100px;
	 			max-height: 100px;
	 			width: auto;
				filter: url(shadow.svg#drop-shadow);
				-webkit-filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.3));
	 			filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.3));
			}

			&.img-circle {
				border-radius: 50%;
				width: 100px;
				height: 100px;
				background: url('../../img/reviews/3.png') no-repeat;
				background-position: center;
				background-size: 150%;
			}
		}

		.review-text {
			.review-name {
				margin: 0;
				.review-title {
					display: flex;
					justify-content: center;
					align-items: flex-start;

					font-family: $font-text;
					font-size: 0.80em;
					font-weight: 300;
				}
			}
			p {
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: $screen-md) {
	.review-section {
		.review-card {
			margin-bottom: $vertical-padding;
		}
	}
}

.img-circle img {
	border-radius: 50%;
}