/* Article */
/* Colors */
/* Fonts */
/* Breakpoints */
article {
  width: 100%;
  max-width: 770px;
  margin: 0 auto; }
  article h1, article h2, article h3, article h4, article h5, article h6, article p, article ul {
    max-width: 600px;
    margin: 0 auto; }
  article ul {
    list-style-type: disc; }
    article ul li {
      margin-left: 1em; }
  article blockquote {
    max-width: 600px;
    font-size: 2em;
    background: #f7f7f7;
    padding: 0.8125em 0;
    margin: 3.25em auto;
    border-radius: 3px; }
    article blockquote p {
      margin: 0;
      line-height: 1; }
    article blockquote .quote {
      background-image: -webkit-linear-gradient(135deg, #f5a3bf, #9470b1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: hue 10s infinite linear; }
    article blockquote::before {
      position: absolute;
      content: url("../../img/icons/quote.svg");
      top: -18px;
      left: 50%;
      width: 36px; }
  article img {
    width: 100%; }
