@charset "UTF-8";
@import url(reset.css);
* {
  box-sizing: border-box; }

/* Colors */
/* Fonts */
/* Breakpoints */
/* Main Navigation */
.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #f5a3bf;
  visibility: hidden; }
  .menu-overlay.visible {
    position: fixed;
    visibility: visible;
    animation: 0.5s scaleUp forwards alternate; }

.mobile-navigation-icon,
.desktop-navigation {
  display: none; }

.desktop-navigation ul li a {
  font-weight: 700;
  color: #504766;
  transition: all 0.3s ease-in-out; }

.desktop-navigation ul li:hover a {
  background-image: -webkit-linear-gradient(135deg, #f5a3bf, #b1a6a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear; }

.mobile-navigation-icon {
  position: relative;
  align-self: center;
  height: 3.50em;
  overflow: hidden;
  text-align: center;
  border-radius: 3px; }
  .mobile-navigation-icon:hover {
    transition: color 0.2s ease-in-out; }
    .mobile-navigation-icon:hover::before {
      width: 100%;
      height: 100%;
      visibility: visible; }
    .mobile-navigation-icon:hover span {
      color: white; }
  .mobile-navigation-icon::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 3px;
    background: #f5a3bf;
    visibility: hidden;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.2s ease-in-out;
    z-index: -1; }
  .mobile-navigation-icon span {
    display: block;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    padding: 8px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.25;
    color: #f5a3bf;
    letter-spacing: 0.050em;
    transition: all 0.3s ease-in-out; }
    .mobile-navigation-icon span:hover {
      cursor: pointer; }
  .mobile-navigation-icon.visible {
    z-index: 200; }
    .mobile-navigation-icon.visible span {
      transform: translate3d(0, -100%, 0);
      color: white; }

.mobile-navigation {
  position: absolute;
  width: 100%;
  padding: 2em 1em;
  text-align: left;
  background: #9470b1;
  transform: translate3d(0, -200%, 0);
  will-change: transform;
  transition: all 0.3s ease-in-out;
  z-index: 200; }
  .mobile-navigation ul {
    width: 80%;
    margin: 0 auto;
    padding-top: 16px; }
    .mobile-navigation ul li a {
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
      font-size: 2em;
      font-weight: 700;
      color: white; }
  .mobile-navigation.visible {
    display: block;
    transform: translate3d(0, 0, 0); }

@media only screen and (min-width: 769px) {
  .desktop-navigation {
    display: flex; }
  .mobile-navigation.visible {
    display: none; } }

/* Article */
article {
  width: 100%;
  max-width: 770px;
  margin: 0 auto; }
  article h1, article h2, article h3, article h4, article h5, article h6, article p, article ul {
    max-width: 600px;
    margin: 0 auto; }
  article ul {
    list-style-type: disc; }
    article ul li {
      margin-left: 1em; }
  article blockquote {
    max-width: 600px;
    font-size: 2em;
    background: #f7f7f7;
    padding: 0.8125em 0;
    margin: 3.25em auto;
    border-radius: 3px; }
    article blockquote p {
      margin: 0;
      line-height: 1; }
    article blockquote .quote {
      background-image: -webkit-linear-gradient(135deg, #f5a3bf, #9470b1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: hue 10s infinite linear; }
    article blockquote::before {
      position: absolute;
      content: url("../../img/icons/quote.svg");
      top: -18px;
      left: 50%;
      width: 36px; }
  article img {
    width: 100%; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Baloo", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  font-weight: 700;
  color: #504766; }

h1 {
  max-width: 100%;
  font-size: 2.250em;
  letter-spacing: -0.020em;
  text-align: center;
  margin: 1em auto 32px auto; }

h2,
article h2 {
  font-size: 1.850em;
  line-height: 1.22em;
  margin: 1.92878em auto 0.43919em auto; }

h3,
article h3 {
  font-size: 1.60em;
  line-height: 1.22em;
  margin: 2.03125em auto 0.50781em auto; }

h4,
article h4 {
  font-size: 1.40em;
  line-height: 1.22em;
  margin: 1.625em auto 0 auto; }

p, ul,
article p,
article ul {
  font-size: 1.250em;
  line-height: 1.6;
  margin-bottom: 1.625em; }

em {
  font-style: italic; }

blockquote {
  position: relative;
  font-family: "Baloo", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  color: #b1a6a5;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.050em; }
  blockquote .prequote {
    position: absolute;
    top: -1.350em;
    left: 0;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 0.50em;
    font-variant: all-small-caps; }
  blockquote .author {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
    font-size: 0.750em; }

/* Review Section */
.review-section {
  margin: 3.25em auto; }
  .review-section .review-card {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px; }
    .review-section .review-card.review-screenshot {
      display: block; }
      .review-section .review-card.review-screenshot .review-text {
        display: block;
        margin-bottom: 16px; }
      .review-section .review-card.review-screenshot .review-screenshot-image img {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
    .review-section .review-card .review-image {
      margin-right: 16px;
      min-width: 100px;
      text-align: center; }
      .review-section .review-card .review-image img {
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        width: auto;
        filter: url(shadow.svg#drop-shadow);
        -webkit-filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3)); }
      .review-section .review-card .review-image.img-circle {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%; }
        .review-section .review-card .review-image.img-circle#joenas {
          background-image: url("../../img/reviews/3.png"); }
    .review-section .review-card .review-text .review-name {
      margin: 0; }
      .review-section .review-card .review-text .review-name .review-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
        font-size: 0.80em;
        font-weight: 300; }
    .review-section .review-card .review-text p {
      margin: 0; }

@media only screen and (max-width: 768px) {
  .review-section .review-card {
    margin-bottom: 1.625em; } }

/* Frequently Asked Questions */
.faq {
  max-width: 1024px;
  margin: 0 auto; }
  .faq .faq-tab {
    padding: 16px;
    margin-bottom: 16px;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }
    .faq .faq-tab h4 {
      color: #464646;
      margin: 0; }
  .faq .faq-content p {
    margin: 0; }

/* Animations */
@keyframes hue {
  from {
    filter: hue-rotate(0); }
  to {
    filter: hue-rotate(360deg); } }

@keyframes scaleUp {
  0% {
    transform: scale(0.01);
    border-radius: 50%; }
  100% {
    transform: scale(1);
    border-radius: 0; } }

/* Footer */
footer {
  position: relative;
  width: 100%;
  padding: 16px 0; }
  footer::before {
    position: absolute;
    content: '';
    opacity: 0.35;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  footer .footer-logo {
    text-align: left; }
    footer .footer-logo img {
      max-width: 250px; }

.order-form {
  position: relative;
  margin-bottom: 24px; }
  .order-form form {
    max-width: 600px;
    margin: 0 auto; }
    .order-form form .form-status {
      display: none;
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      text-align: center; }
      .order-form form .form-status.success {
        display: block;
        background: #c8f8b5; }
        .order-form form .form-status.success .success {
          display: block; }
      .order-form form .form-status.fail {
        display: block;
        background: #FBADB2; }
        .order-form form .form-status.fail .fail {
          display: block; }
      .order-form form .form-status .success,
      .order-form form .form-status .fail {
        display: none; }
      .order-form form .form-status span {
        font-size: 1em; }
    .order-form form input, .order-form form button, .order-form form textarea {
      display: block;
      width: 100%;
      margin-bottom: 8px;
      padding: 8px;
      border: 1px solid #b1a6a5;
      border-radius: 5px;
      background: white;
      outline: none;
      box-shadow: none;
      font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
      font-size: 1.250em;
      letter-spacing: 0.050em; }
    .order-form form button {
      max-width: 120px;
      margin-top: 16px;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      background: #f5a3bf; }
    .order-form form label {
      font-size: 1.250em;
      font-weight: 700;
      line-height: 2;
      color: #504766; }
    .order-form form .form-group input, .order-form form .form-group label, .order-form form .form-group textarea {
      vertical-align: top;
      max-width: 100%; }
  .order-form .form-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
    z-index: 100; }
    .order-form .form-overlay.visible {
      visibility: visible;
      opacity: 1; }
    .order-form .form-overlay .form-overlay-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0); }
      .order-form .form-overlay .form-overlay-content img {
        max-width: 100px; }

form button:hover {
  cursor: pointer;
  background: #f0759f; }

body {
  position: relative;
  height: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #262626; }
  body::before {
    position: absolute;
    content: '';
    background: url("../../img/patterns/palm-leaf.png") repeat;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

.container {
  padding: 0 32px; }

@media only screen and (max-width: 640px) {
  body {
    font-size: 14px; }
  .container {
    padding: 0 16px; } }

/* ******************
 * Default Styles
 ********************/
.top {
  position: fixed;
  display: none;
  padding: 8px;
  width: 32px;
  height: 32px; }

.hidden {
  display: none; }

.overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  z-index: 100; }
  .overlay.visible {
    visibility: visible;
    opacity: 1; }

.visible {
  display: block; }

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #464646; }

nav ul.ul-block li {
  display: block; }

figure {
  margin: 0 auto 32px auto;
  text-align: center; }
  figure img {
    width: 100%; }
  figure figcaption {
    font-style: italic;
    line-height: 2; }
  figure figure {
    margin-bottom: 16px; }

@media only screen and (min-width: 768px) {
  figure {
    margin: 0 auto 64px auto; }
    figure figure {
      margin-bottom: 0; } }

/* ******************
 * Components
 ********************/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-outline {
  position: relative;
  font-size: 3em;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #f5a3bf;
  margin-top: 0.8125em;
  margin-bottom: 0.203125em;
  overflow: hidden; }
  .text-outline span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
    color: #6084c0;
    -webkit-text-stroke: 0;
    opacity: 0.50;
    z-index: -1; }
  .text-outline::after {
    position: absolute;
    content: attr(data-sub);
    top: 50%;
    transform: translateY(-50%);
    padding-left: 16px;
    font-size: 0.250em;
    line-height: 1;
    color: #b1a6a5;
    -webkit-text-stroke: 0; }

@media only screen and (min-width: 460px) {
  .text-outline {
    font-size: 4em; } }

@media only screen and (min-width: 640px) {
  .text-outline {
    font-size: 5em; } }

/* ******************
 * Custom Style
 ********************/
header {
  width: 100%;
  margin-bottom: 64px;
  padding: 16px 0; }
  header .container {
    display: flex;
    justify-content: space-between; }
    header .container .logo {
      width: 20%; }
      header .container .logo img {
        width: 100%;
        max-width: 100px; }
  header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%; }
    header nav ul {
      position: relative;
      list-style-type: none;
      margin: 0; }
      header nav ul li {
        position: relative;
        display: inline-block; }
        header nav ul li a {
          padding: 16px; }
        header nav ul li:not(last-child) {
          margin-right: 16px; }
        header nav ul li:before {
          position: absolute;
          width: 100px;
          height: 100px;
          background: #FFFBD3;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          z-index: -1; }

.banner {
  max-width: 768px;
  margin: 0 auto; }

.logo-grid {
  margin-top: 1.625em; }
  .logo-grid img {
    max-width: 150px;
    margin: 0 auto; }

@media only screen and (max-width: 1440px) {
  .hidden-xl {
    display: none; }
  .visible-xl {
    display: block; } }

@media only screen and (max-width: 1280px) {
  .hidden-lg {
    display: none; }
  .visible-lg {
    display: block; } }

@media only screen and (max-width: 1024px) {
  .hidden-md-2 {
    display: none; }
  .visible-md-2 {
    display: block; } }

@media only screen and (max-width: 768px) {
  .hidden-md {
    display: none; }
  .visible-md {
    display: block; } }

@media only screen and (max-width: 640px) {
  .hidden-sm {
    display: none; }
  .visible-sm {
    display: block; } }

@media only screen and (max-width: 460px) {
  .hidden-xs {
    display: none; }
  .visible-xs {
    display: block; } }
